body {
  padding: 0;
  margin: 0;
  font-size: 1rem;
}
.hidden {
  display: none;
}
.newslist {
  width: 100%;
  max-width: 1024px;
  margin: 50px auto;
}
.header-title {
  background-color: #f07130;
  padding: 10px 0;
}
.logo, .sort-by { 
  display: inline-block;
}
.logo {
  padding: 5px;
  margin-left: 10px;
  border: 2px solid #fff;
  color: #fff;
}
.logo h1 {
  display: inline;
  font-size: 1.2rem;
  font-weight: bold;;
}
.news-item {
  padding: 10px 0;
  font-size: 0.8rem;
}
.news-item span {
  margin-left: 30px;
}
.even {
  background-color: #f6f6f0;
}
.odd {
  background-color: #e6e6e0;
}
.post-title small {
  color: #b9b9b9;
}
.sort-by {
  padding: 10px;
}
.sort-by a {
  color: #000;
  margin: 0 10px;
  text-decoration: none;
}
.sort-by .active {
  color: #fff;
  text-decoration: underline;
}
.upvote {
  text-decoration: none;
  cursor: pointer;
  color: #000000;
}
/* pagination */
.load-more {
  padding: 20px;
  background-color: #f6f6f0;
}
.load-more a {
  color:  #f07130;
  margin-left: 10%;
  text-decoration: none;
}
.load-more a:hover {
  text-decoration: underline;
}